@font-face {
  font-family: "JetbrainsMono";
  src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

html {
  background-color: rgb(255, 254, 194);
}

body {
  color: #000;
  font-family: "JetbrainsMono";
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
}

H2 {
  font-family: "JetbrainsMono";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  margin-left: -40px;
  margin-top: 30px;
}

a {
  color: #d7034e;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.custom-list {
  column-count: 4;
  list-style-type: none;
  padding: 10;
  text-align: left;
}

.custom-list li {
  list-style-type: square;
  margin-bottom: 5px;
}